body {
    margin: 0;
    background-color: #FDFFF7;
    font-family: Roboto, Georgia, 'Times New Roman', Times, serif;
    display: grid;
    grid-template: 15vh 85vh / min(400px, 20%) auto;
}

/*top and search bar*/
.top {
    box-shadow: 0px 5px 10px rgba(47, 79, 79, 0.2);
    z-index: 10;
}

.top .search {
    display: flex;
    flex-direction: row;
    margin:1vh;
}

.top svg {
    height: 2.5vh;
}

#search {
    border-radius: 16px;
    border: none;
    background-color: rgb(226, 225, 225);
    padding-left: 10px;
    width: 60%;
    height: 3vh;
}

/*sidebar*/
.header {
    padding: 8px;
    display: flex;
    line-height: 8vh;
}

.header svg {
    width: min(20%, 50px);
    padding-left: 1vh;
}

.header .title {
    font-size: 1.6em;
    height: 8vh;
    vertical-align: middle;
}

.sidebar {
    grid-row: span 2;
    background-color: #284B63;
    color: #FDFFF7;
    font-size: 1.2vw;
    font-weight: bold;
}

.sidebar svg {
    fill: #FDFFF7;
    margin-right: 16px;
}

.nav {
    padding: 8px;
}

.navLink {
    display: flex;
    padding: 1.4vh;
    padding-left: 2vw;
    line-height: 2.4vh;
}

.spacer {
    height: 4vh;
}

.navLink svg {
    height: 2.4vh;
    flex-shrink: 0;
}

.navText {
    height: 2.4vh;
    vertical-align: middle;
}

/*dashboard (project cards)*/
.dash {
    background-color: rgb(226, 225, 225);
    padding-bottom: 12vh;
    display: grid;
    grid-template-columns: 2.4fr 1fr;

    padding-left: 2vw;
    padding-right: 2vw;
}

.subtitle {
    font-size: 1.2em;
    font-weight: bold;
    height: 2rem;
}

.container {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    padding: 2vw 0; 
    height: 100%;

    max-height: 85vh;
}

.projects {
    grid-row: 1 / span 4;
}

.announcements {
    grid-row: 1 / span 2;
    padding: 4px;
    margin-bottom: 1rem;
}

.trending {
    grid-row: 3 / span 2;
    margin-top: 1rem;
}

.announcements, .trending, .projects {
    padding: 8px;
}

.projectContainer {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    gap: 2vh 3vh;
    padding-right: 8px;
    height: 100%;
}

.card {
    background-color: #FF785A;
    border-radius: 8px;
}

.card2 {
    background-color: #FDFFF7;
    height: 100%;
    width: 100%;
    border-radius: 0 8px 8px 0;
    position: relative;
    left: 8px;
    box-shadow: 4px 4px 4px rgba(47, 79, 79, 0.2);
    display: grid;
    grid-template: 3fr 1fr / 1fr 1fr;
}

.contents {
    display: flex;
    flex-direction: column;
    height: inherit;
    padding: 0 2vw;
    grid-column: span 2;
    padding-top: 3vh;
}

.cardButtons {
    grid-row: 2;
    grid-column: 2;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0px 2vw;
    padding-bottom: 2vh;
}

.card svg {
    height: 3vh;
}

.cardTitle {
    font-weight: bold;
}

.text {
    color: rgb(77, 77, 77);
    line-height: 1.2;
    font-size: .95rem;
}

/*announcements*/

.blank {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    background-color: #FDFFF7;
    box-shadow: 4px 4px 4px rgba(47, 79, 79, 0.2);
    padding: 1vh;
    display: flex;
    flex-direction: column;
    
}

.announcements .title {
    font-weight: bold;
}

.hr {
    border-bottom: 1px solid rgb(49, 49, 49);
    padding: 10px 0px;
}


