.screen {
    display:grid;
    grid-template: 15vh 85vh / min(400px, 20%) auto;
}

div {
    border: red 2px solid;
}

.sidebar {
    grid-row: span 2;
}

.top {

}

.dash {
    display: grid;
    grid-template: 1fr 1fr / 3fr 1fr;
}

.dash div {
    border: 3px green solid;
}

.projects {
    grid-row: span 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.card {
    width: 40%;
}